.chat-form {
    width: 100%;
    display: flex;
    column-gap: 20px;

    .chat-form__inp {
        width: 100%;
        max-width: 710px;
        max-height: 100px;
        padding: 6px 5px 5px 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        letter-spacing: 0.5px;
        background-color: #282e33;
        color: #ffffff;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        outline-offset: 0;

        &:after {
            content: '';
            color: #808080;
            opacity: 0;
            margin-left: 50px;
            transition-duration: 0.1s;
        }

        &:empty:after {
            content: attr(data-placeholder);
            cursor: text;
            color: #808080;
            opacity: 1;
            margin-left: 0px;
            transition-duration: 0.1s;
        }
    }

    .chat-form__textarea {
        display: none;
        white-space: pre-wrap;
    }

    .btn-send,
    .btn-emoji {
        min-width: 35px;
        min-height: 35px;
        background: none;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        align-self: flex-end;
    }

    .btn-send {
        background-image: url('../../icons/iconSendDisabled.svg');
    }

    .btn-emoji {
        background-image: url('../../icons/iconEmojiDisabled.svg');
        transition-duration: 0.1s;

        &:hover {
            background-image: url('../../icons/iconEmojiActive.svg');
            transition-duration: 0.1s;
        }

        @media (hover: hover) {
            &:hover + .emoji {
                display: block;
            }
        }
    }
}

/* Стилизация скролла */
.chat-form__inp {
    scrollbar-width: 7px; /* Для Firefox */
    scrollbar-width: thin;
    scrollbar-color: #58595a #2d2e30; /* Для Firefox */
}

.chat-form__inp::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    // background-color: #2d2e30;
}

/* Фон скролла */
.chat-form__inp::-webkit-scrollbar-track {
    background-color: #2d2e30; /* Для Chrome, Safari и Opera */
}

/* Индикатор  прокрутки */
.chat-form__inp::-webkit-scrollbar-thumb {
    background-color: #58595a; /* Для Chrome, Safari и Opera */
    border-radius: 10px;
}
