.preload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    margin-bottom: 30px;

    .preload {
        width: 130px;
        height: 130px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
