@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	background-color: rgb(201, 201, 201);
	display: flex;
	justify-content: center;
	align-items: center;
}

.task-container {
	margin: 0 auto;
	width: 476px;
	height: 688px;
	background: #FFFFFF;

	.high-priority-container {
		position: relative;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		text-align: center;

		&__title {
			margin: 25px 0 12px 0;
		}

		&__input {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: black;
			width: 460px;
			height: 45px;
			background: #FFFFFF;
			border: 1px solid #989898;
			border-radius: 6px;
			padding-left: 12px;
			margin-bottom: 8px;

			&::placeholder {
				color: #BBBBBB;
			}
		}

		&__button {
			position: absolute;
			width: 17px;
			height: 16px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			padding: 0;
			transform: rotate(-45deg);
			top: 47px;
			right: 20px;

			img {
				max-width: none;
			}
		}

		&__task {
			display: flex;
			width: 460px;
			min-height: 45px;
			background: #FFFFFF;
			border: 1px solid #989898;
			border-radius: 6px;
			margin: 0 auto 8px auto;
			position: relative;

			&.completed {
				background: #F4F4F4;
			}
		}

		&__checkbox {
			appearance: none;
			min-width: 20px;
			height: 20px;
			border: 1px solid #998899;
			border-radius: 50%;
			position: relative;
			outline: none;
			cursor: pointer;
			transition: all 0.3s ease;
			margin: 0;
			top: 12px;
			left: 12px;

			&:checked::before {
				content: "";
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #C4C4C4;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__task-text {
			margin: 12px 45px 12px 22px;
			width: 370px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: #202020;
			text-align: left;
		}

		&__delete {
			position: absolute;
			top: 15px;
			right: 12px;
			cursor: pointer;
		}
	}

	.low-priority-container {
		position: relative;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		text-align: center;

		&__title {
			margin: 25px 0 12px 0;
		}

		&__input {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: black;
			width: 460px;
			height: 45px;
			background: #FFFFFF;
			border: 1px solid #989898;
			border-radius: 6px;
			padding-left: 12px;
			margin-bottom: 8px;

			&::placeholder {
				color: #BBBBBB;
			}
		}

		&__button {
			position: absolute;
			width: 17px;
			height: 16px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			padding: 0;
			transform: rotate(-45deg);
			top: 47px;
			right: 20px;
			img {
				max-width: none;
			}
		}

		&__task {
			display: flex;
			width: 460px;
			min-height: 45px;
			background: #FFFFFF;
			border: 1px solid #989898;
			border-radius: 6px;
			margin: 0 auto 8px auto;
			position: relative;

			&.completed {
				background: #F4F4F4;
			}
		}
		
		&__checkbox {
			appearance: none;
			min-width: 20px;
			height: 20px;
			border: 1px solid #998899;
			border-radius: 50%;
			position: relative;
			outline: none;
			cursor: pointer;
			transition: all 0.3s ease;
			margin: 0;
			top: 12px;
			left: 12px;
			&:checked::before{
				content: "";
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #C4C4C4;;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__task-text {
			margin: 12px 45px 12px 22px;
			width: 370px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: #202020;
			text-align: left;
		}

		&__delete {
			position: absolute;
			top: 15px;
			right: 12px;
			cursor: pointer;
		}
	}
}	