*{
	height: 800px;
}

.stop-watch{
	display: flex;
	align-items: center;
	justify-content: center;
	.timer{
		color: #000000;
		width: 100px;
		height: 30px;
		background-color: #addfad;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: transform 0.2s ease-in-out;
		font-size: 14px;
		font-weight: 700;
	}
	.reset-timer{
		margin-left: 30px;
		color: #000000;
		width: 100px;
		height: 30px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		background-color: rgb(194, 194, 194);
		transition: transform 0.2s ease-in-out;
		font-size: 14px;
		font-weight: 700;
	}
}