body {
  font-family: "JetBrains Mono", monospace;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #181818;
  color: #efefef;
}

.wrapper {
  min-width: 620px;
  width: 50%;
  height: 70%;
  border: 1px solid #efefef;

  display: flex;
  flex-direction: column;
}

.search-field {
  display: flex;
  padding: .5rem 1rem;
  gap: 1rem;
  border-bottom: 1px solid #efefef;
}

.search-field input[type="text"] {
  flex-grow: 1;
}

.search-field input[type="text"]::placeholder {
  color: #ccc;
}

.search-field input[type="submit"] {
  margin-left: auto;
  color: #efefef;
}

.container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.container > * {
  width: 50%;
  height: 100%;
}

.tabs {
  border-right: 1px solid #efefef;
}

.windows {
  height: 90%;
  border-bottom: 1px solid #efefef;
  overflow: hidden;
}

.window {
  height: 100%;
}

.options {
  height: 10%;
  display: flex;
  align-items: stretch;
  font-size: 1.1rem;
}

.options > a.active {
  background-color: #efefef;
  color: #181818;
}

.options > a {
  flex: 50% 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #efefef;
}

.options > a:hover {
  background-color: #242424;
}

.options > a.active:hover {
  background-color: #efefef;
}

.options > a:last-child {
  border-right: none;
}

.history {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.history > .heading {
  display: flex;
  align-items: end;
  padding: .5rem 1rem;
  border-bottom: 1px solid #efefef;
  height: 20%;
}

.history-list {
  height: 80%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.history-list::-webkit-scrollbar {
  display: none;
}

.history-list p {
  padding: .5rem 1rem;
}

.history-list p:hover {
  background-color: #242424;
}