@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
}

body {
  background-color: #000000;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 10px;
  background-color: #282e33;
  border-radius: 10px;
  height: 100vh;
  max-height: 600px;
}

.chat-nav {
  margin-bottom: 10px;
}

.chat-nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chat-nav__list .chat-nav__list-item {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.chat-nav__list .btn-settings {
  background-image: url("../../icons/iconSettings.svg");
}
.chat-nav__list .btn-exit {
  background-image: url("../../icons/iconExitRed.svg");
}

.chat-dialog {
  height: 100%;
  width: 100%;
  background-color: #18191d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.chat-dialog .chat-dialog__message {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px 10px;
  width: max-content;
  max-width: calc(240px + 140 * (100vw - 320px) / 448);
  border-radius: 20px;
}
.chat-dialog .chat-dialog__message .chat-dialog__message-text {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.chat-dialog .chat-dialog__message .chat-dialog__message-time {
  color: #7b7c7e;
  text-align: right;
  font-size: 12px;
  padding-top: 15px;
  align-self: flex-end;
}
@media (min-width: 768px) {
  .chat-dialog .chat-dialog__message {
    max-width: 380px;
  }
}
.chat-dialog .chat-dialog__message:not(:last-child) {
  margin-bottom: 5px;
}
.chat-dialog .in-message {
  background-color: #33393f;
  position: relative;
}
.chat-dialog .in-message::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -2px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #33393f;
  transform: rotate(-5deg);
}
.chat-dialog .sent-message {
  position: relative;
  margin-left: auto;
  background-color: #2a2f33;
}
.chat-dialog .sent-message::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -2px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #2a2f33;
  transform: rotate(5deg);
}

/* Стилизация скролла для блока*/
.chat-dialog {
  overflow-y: auto;
  scrollbar-width: 7px; /* Для Firefox */
  scrollbar-width: thin;
  scrollbar-color: #58595a #2d2e30; /* Для Firefox */
}

.chat-dialog::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

/* Фон скролла */
.chat-dialog::-webkit-scrollbar-track {
  background-color: #2d2e30; /* Для Chrome, Safari и Opera */
}

/* Индикатор  прокрутки */
.chat-dialog::-webkit-scrollbar-thumb {
  background-color: #58595a; /* Для Chrome, Safari и Opera */
  border-radius: 10px;
}

.chat-form {
  width: 100%;
  display: flex;
  column-gap: 11px;
}
.chat-form .chat-form__inp {
  width: 100%;
  max-width: 710px;
  max-height: 100px;
  padding: 6px 5px 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: #282e33;
  color: #ffffff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  outline-offset: 0;
}
.chat-form .chat-form__inp:after {
  content: "";
  color: #808080;
  opacity: 0;
  margin-left: 50px;
  transition-duration: 0.1s;
}
.chat-form .chat-form__inp:empty:after {
  content: attr(data-placeholder);
  cursor: text;
  color: #808080;
  opacity: 1;
  margin-left: 0px;
  transition-duration: 0.1s;
}
.chat-form .chat-form__textarea {
  display: none;
  white-space: pre-wrap;
}
.chat-form .btn-send {
  width: 35px;
  height: 35px;
  background: none;
  background-image: url("../../icons/iconSendDisabled.svg");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  align-self: flex-end;
}

.modal-wrapper {
  display: none;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 30, 30, 0.49);
  backdrop-filter: blur(5px);
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  border-radius: 10px;
  padding: 15px;
  background-color: #282e33;
  position: relative;
}
.modal .modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #8d939e;
  font-size: 20px;
  margin-bottom: 30px;
}
.modal .modal__btn-close {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url("../../icons/iconCloseWindow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.modal .modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.modal-form {
  width: 100%;
  max-width: 300px;
}
.modal-form .modal-form__title {
  margin-bottom: 5px;
  color: #8d939e;
  font-size: 18px;
}
.modal-form .modal-form__inp {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}
.modal-form .modal-form__inp .modal-input {
  display: inline-block;
  width: 100%;
  outline: 0;
  outline-offset: 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: none;
  height: 30px;
  color: #ffffff;
}
.modal-form .modal-form__inp .modal-form__btn-ok {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url("../../icons/iconOkDisabled.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.modal-form .modal-form__btns {
  display: flex;
  column-gap: 10px;
}

#modal-js.show-modal {
  display: flex;
}

.modal-form__btn {
  display: inline-block;
  width: max-content;
  border-radius: 5px;
  border: none;
  background-color: #8d939e;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px;
}

.active-btn {
  background-color: #18ae56;
}

.hide-btn {
  display: none;
}

.preload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  margin-bottom: 30px;
}
.preload-wrapper .preload {
  width: 130px;
  height: 130px;
}
.preload-wrapper .preload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
