@font-face {
	font-family: NunitoRegular; /* Гарнитура шрифта */
	src: url(/fonts/Nunito-Regular.ttf);
 }

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

body{
	background-color: rgb(231, 231, 231);
	font-family: 'NunitoRegular';
}

.block{
	transition: all .5s;
	padding-top: 200px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	border-radius: 20px;
	background-color: #fff;
}

button{
	font-family: 'NunitoRegular';
	border: none;
	font-size: 20px;
	width: 172px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	border-radius: 10px;
	background-color: #333333;
}