body{
    margin: 0 auto;
}
.container{
   
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.result{
    margin-top: 20px;
  text-align: center;
}
.list{
    text-align: center;

}
li{
    list-style: none;
}