body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D1E6FF;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.chat {
  &__app {
    display: flex;
    flex-direction: column;
    width: 800px;
    min-height: 522px;
    padding: 9px 8px 8px 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;

    &__wrap {
      display: flex;
    }

    &__setting {
      display: flex;
      align-items: center;
      cursor: pointer;

      margin-right: 30px;

      &__icon {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
      }

      &__icon:hover {
        transform: rotate(15deg);
      }

      &__icon:hover > path {
        stroke: #1D75DD;
      }
    }

    &__user {
      display: flex;
      align-items: center;

      &__avatar {
        margin-right: 10px;
      }

      &__name {
        white-space: nowrap;
      }
    }

    &__logout {
      display: flex;
      align-items: center;
      cursor: pointer;

      &__icon {
      }

      &__icon:hover > path {
        stroke: #1D75DD;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
      }

      &__icon:hover > path:first-child {
        transform: translate(-1px, 0);
      }

      &__icon:hover > path:not(:first-child) {
        transform: translate(1px, 0);
      }
    }
  }

  &__window {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 560px;
    background-color: #FFFFFF;

    border-radius: 10px;

  }

  &__messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px 20px;

  }

  &__message {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    max-width: 700px;
    
    &__text {
      margin: 0;
      padding: 10px;
      font-size: 14px;
      font-weight: 400;

      &__me {
        border: 1px #1D75DD solid;
        border-radius: 5px;
      }

      &__them {
        display: flex;
        background-color: #D1E6FF;
        border-radius: 5px;

      }
    }

    &__me {
      align-self: flex-start;

      & > .chat__message__avatar {
        margin-right: 10px;
      }
    }

    &__them {
      flex-direction: row-reverse;
      align-self: flex-end;


      & > div > span {
        align-self: flex-end;
      }

      & > .chat__message__avatar {
        margin-left: 10px;
      }
    }

    &__wrap {

      display: flex;
      flex-direction: column;


    }

    &__time {
      margin-top: 4px;
      color: #989BA1;
      font-size: 10px;
      font-weight: 300;
    }

  }

  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    border: 1px #989BA1 solid;
    border-radius: 3px;
    padding: 6px;
    height: 40px;

    &__input {
      flex-grow: 2;
      border: none;
      padding: 0 10px;
      font-size: 16px;
    }


    &__input:focus {
      outline: none;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2px;
      width: 30px;
      height: 30px;
      border: none;
      background-color: #1D75DD;
      border-radius: 2px;
    }
  }

  &__setting {
    min-width: 273px;
    min-height: 319px;
    padding: 14px;
    border: 1px black solid;
    border-radius: 5px;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &__input__wrap {
      display: flex;
      margin-top: 8px;
    }

    &__input {
      padding: 8px 9px 7px 8px;
      margin-right: 8px;
      min-width: 207px;

    }
  }


}
