#calc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}