.message {
	&__name {
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 700;
	}

	&__text {
		margin-bottom: 5px;
	}
	&__time {
		margin-bottom: 5px;
		display: flex;
		justify-content: end;
	}
}
