#template {
	display: flex;
	flex-direction: column;
}

.hidden {
	display: none;
}

body {
	display: flex;
	justify-content: center;
	background: #ffbb36;
}

main,
input,
button {
	font-family: "Comfortaa", cursive;
}
