@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 50px;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.weather {
	width: 600px;
	height: 435px;

	border: 1px solid #000;
}

.search {
	display: flex;
	height: 45px;

	border-bottom: 1px solid #000;
}

.search_form {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 16px;
}

.search_input {
	width: 543px;

	color: #696969;

	font-size: 18px;
	line-height: 21px;
}

.search_button {
	width: 30px;
	height: 30px;

	svg {
		fill: rgba(0, 0, 0, 0.54);
		transition: .4s;
	}

	svg:hover {
		fill: black;
		transition: .4s;
	}
}

.constainer {
	display: flex;
}

.main-screen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 298px;
	height: 389px;

	border-right: 1px solid #000;
}

.main-screen_menu {
	display: flex;
	justify-content: space-between;
	
	height: 45px;

	font-size: 18px;
	line-height: 21px;

	border-top: 1px solid #000;

	button {
		width: 99px;
	}

	button:hover {
		background-color: black;
		color: white;
		transition: .2s;
	}

	button + button {
		border-left: 1px solid black;
	}
}

.active {
	background-color: black;
	color: white;
}


// Now

.now {
	display: none;
}

.now_temperature {
	padding-top: 20px;
	padding-left: 23px;

	font-size: 70px;
	line-height: 82px;
}

.now_icon {
	text-align: center;
	img {
		max-width: 216px;
		max-height: 216px;
	}
}

.now_city {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 26px 0 12px;
}

.now_city_name {
	font-size: 24px;
	line-height: 28px;
}

.now_city_like {
	svg {
		stroke: rgba(0, 0, 0, 0.54);
		transition: .4s;
	}
}

.now_city_like:hover {
	svg {
		transition: .4s;
		stroke: rgb(255, 0, 0);
	}
}

// Details 

.details {
	display: none;

	margin-left: 17px;

	font-size: 24px;
	line-height: 28px;
}

.details_title,
.forecast_title {
	margin-top: 33px;
}

.details_list {
	margin-top: 42px;

	li + li {
		margin-top: 11px;
	}
}

// Forecast

.forecast {
	display: none;

	overflow: hidden;

	margin-left: 18px;
	height: 345px;

	font-size: 24px;
	line-height: 28px;
}

.forecast_item {
	margin-top: 7px;
	padding: 6px 12px 0 8px;

	width: 265px;
	height: 120px;

	font-size: 18px;
	line-height: 21px;

	border: 1px solid black;
}

.forecast_item_title {
	display: flex;
	justify-content: space-between;
}

.forecast_item_content {
	display: flex;
	justify-content: space-between;

	margin-top: 38px;
}

.forecast_icon {
	text-align: end;
}

.forecast_icon_img {
	width: 30px;
}

.active-screen {
	display: block;
}
// Added Locations

.added-locations {
	font-size: 24px;
	line-height: 28px;
}

.added-locations_header {
	padding-top: 32px;
	padding-left: 18px;

	width: 302px;
	height: 68px;

	border-bottom: 1px solid black;
}

.added-locations_list {
	padding-top: 32px;
	padding-left: 18px;

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 266px;
	}
	
	li + li {
		margin-top: 11px;
	}

	img {
		transition: opacity .4s ease-in;
		opacity: 0;
		max-width: 28px;
	}

	.newLocationName {
		display: inline-block;
	}
}

.added-locations_list li:hover {
	img {
		transition: opacity .4s ease-in;
		opacity: 1;
	}
}

