@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font1: 24px;
  --font2: 18px;
  --font3: 70px;
}

body {
  background-color: #242323;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.main {
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 602px;
  height: 437px;
  border: 1px solid #000;
  margin: auto;
  background-color: rgb(75, 75, 75);
}

/* =========================== SEARCH ============================= */

.search-wrapper {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.search-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-btn-label {
  position: absolute;
  margin: 10px 0 0 -46px;
}

.search {
  width: 100%;
  height: 100%;
  padding-left: 16px;
  color: rgb(230, 227, 210);
}

.search-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search-btn:hover {
  filter: invert(100%);
}

/* ======================= WEATHER-&-LOCATION ===================== */

.weather-wrapper,
.location-wrapper {
  width: 50%;
  height: 90%;
  color: rgb(230, 227, 210);
}

.location-wrapper {
  border-left: 1px solid rgb(0, 0, 0);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.location-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.locations {
  border-bottom: 1px solid rgb(0, 0, 0);
  overflow: hidden;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.locations,
.active-city-details,
.active-city-forecast {
  width: 100%;
  height: 18%;
  padding-left: 6%;
  padding-top: 10%;
}

.active-tab {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.icon {
  margin: 0 auto 20% auto;
}

.like {
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: rgb(230, 227, 210);
}

.like-active {
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: rgb(240, 62, 62);
}

/* .like:hover {
  color: rgb(240, 62, 62);
} */

.temperature-main {
  font-size: var(--font3);
}

.now-tab {
  justify-content: space-around;
  padding: 0 6%;
}

.city-wrapper {
  display: flex;
  justify-content: space-between;
}

.city-list-wrapper,
.tab-list-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 6%;
  padding-top: 10%;
}

.city-list-wrapper {
  padding-left: 5%;
  padding-bottom: 10%;
}

.city {
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: max-content;
  padding: 0 2%;
}

.city:hover {
  color: rgb(230, 227, 210);
}

.city::after {
  content: '';
  background: #030101;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  transition: all 0.55s;
}

.city:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.55s;
}

.active-city-forecast {
  min-height: 19.5%;
}

.tab-list-forecast {
  padding: 0;
  overflow: auto;
  font-size: var(--font2);
}

.tab-list-forecast::-webkit-scrollbar {
  display: none;
}

.tab-list-forecast {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.forecast-block {
  width: 265px;
  height: 120px;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forecast-date,
.forecast-time {
  padding-bottom: 9%;
  padding-top: 3%;
}

.forecast-date,
.forecast-temperature,
.forecast-feels-like {
  padding-left: 4%;
}

.forecast-temperature {
  margin-top: 4px;
}

.forecast-time {
  text-align: end;
  padding-right: 4%;
}

.forecast-state {
  margin-top: 4px;
  padding-right: 5%;
}

.icon-item {
  margin-right: 2%;
  margin-top: -10px;
}

.inactive-tab {
  display: none;
}

.second {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.temp-items {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* ============================ TABS-BTN =========================== */

.tab-wrapper-btn {
  display: flex;
  border-top: 1px solid rgb(0, 0, 0);
  height: 10%;
}

.tab-btn {
  flex: 0 0 33.333333%;
  height: 101%;
  font-size: var(--font2);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.now-btn,
.details-btn {
  border-right: 1px solid rgb(0, 0, 0);
}

.active-btn {
  color: rgb(230, 227, 210);
  background-color: #000000c2;
}

.tab-btn:hover {
  color: rgb(230, 227, 210);
}

.tab-btn::after {
  content: '';
  background: #000000;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  transition: all 0.6s ease;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
}

@media (max-width: 550px) {
  .forecast-block {
    max-width: 200px;
  }
}

@media (max-width: 420px) {
  :root {
    --font1: 19px;
    --font2: 13px;
    --font3: 60px;
  }

  .forecast-block {
    max-width: 175px;
  }
}

/* ============================ ADDED =========================== */

.delete_city {
  color: rgba(114, 114, 114, 0.877);
  font-size: 23px;
  cursor: pointer;
}

.delete_city:hover {
  color: rgb(240, 62, 62);
}

.view_city_deactive {
  position: relative;
  text-align: center;
  cursor: pointer;
  color: rgb(145, 144, 144);
}

.view_city_active {
  position: relative;
  text-align: center;
  cursor: no-drop;
  color: rgb(230, 227, 210);
  /* font-size: 120%; */
}

.view_city_deactive:hover {
  color: rgb(230, 227, 210);
}
