*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


.form {
    width: 300px;
    height: 100px;
    position: relative;
    top: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #909090;
    padding: 40px 30px;
}