body {
    background-color: #0073de;
}

.wrapper {
    width: 500px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin: 100px auto;
}

.item {
    display: flex;
    position: relative;
    top: 80px;
    justify-content: space-between;
    padding: 0 35px;
}

.result {
    width: 60px;
    height: 25px;
    background-color: #0073de;
    color: #ffffff;
    border-radius: 2px;
    text-align: center;
    padding-top: 5px;
    
}