@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
}

.weather {
  width: 600px;
  height: 435px;
  border: 1px solid #000000;
}
.weather__search {
  min-width: 435px;
  min-height: 45px;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.weather__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.weather__search-form-input {
  border: none;
  outline: none;
  width: 553px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #696969;
  padding-left: 16px;
}
.weather__search-form-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../assets/svg/search.svg) no-repeat;
  cursor: pointer;
}
.weather__block {
  height: 325px;
  width: 298px;
  display: none;
}
.weather__block-temp {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  color: #000000;
  margin-top: 20px;
  margin-left: 23px;
}
.weather__block-cloud {
  /*width: 78px;*/
  height: 59px;
  margin-top: 40px;
  margin-left: 112px;
}
.weather__block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 98px;
  margin-bottom: 17px;
}
.weather__block-content-city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-left: 12px;
}
.weather__block-content-heart {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 26px;
}
.weather__details {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  height: 345px;
}
.weather__details-city {
  padding-top: 33px;
  padding-left: 17px;
}
.weather__details .list {
  padding-top: 33px;
  padding-left: 15px;
}
.weather__details .list__items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.85;
  color: #000000;
}
.weather .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.weather .container-left {
  height: 389px;
  width: 298px;
  border-right: 1px solid #000000;
}
.weather .container-left .active {
  display: block;
}
.weather .container-right {
  height: 389px;
  width: 302px;
}
.weather .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.weather .tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99px;
  height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  cursor: pointer;
}
.weather .tabs__item:nth-child(3) {
  border-right: none;
}
.weather .tabs .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000000;
  color: #Ffffff;
}/*# sourceMappingURL=style.css.map */
.container-right{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.list__city-top {
  height: 68px;
  padding-top: 33px;
  padding-left: 16px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}
.list__city-buttom {
  border-top: 1px solid #000000;

}
.list__city--container{
  padding-top: 35px;
}
.list__city-items{

  padding-left: 16px;
}
.list__city-item {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.list__namecity {
  padding-bottom: 15px;
}