*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(194, 109, 224),rgb(235, 161, 235));
    flex-direction: column;
}
.counter{
    font-size: 50px;
    line-height: 100px;
    color: rgb(187, 255, 0);
}
.container{
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
    background: linear-gradient(to bottom right, rgb(193, 92, 240),rgb(161, 52, 161));
    box-shadow: 10px 10px 15px -1px rgba(0, 0, 0, 0.33);
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}

.btn{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid purple;
    line-height: 30px;
    cursor: pointer;
    pointer-events:all;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.33);
}

.btn:hover {
    background-color: rgb(234, 229, 255);
    transform: scale(1.1);
}

.start-timer {
    background: linear-gradient(to bottom right, rgb(86, 212, 48),rgb(38, 136, 8));
}
.pause-timer {
    background: linear-gradient(to bottom right, rgb(255, 237, 155),rgb(255, 230, 1));
}
.stop-timer {
    background: linear-gradient(to bottom right, rgb(248, 110, 133),rgb(250, 6, 6));
}
.result {
    font-size: 20px;
    margin-bottom: 30px;
    color: purple
}
