*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-size: 20px;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 60px;
    border-radius: 10px;
    justify-content: center;
    background-color: #dde2f8;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
}
.operands input {
    padding: 5px 0px 5px 10px;
    border: none;
    border-radius: 5px;
}
.menu {
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.operations{
   line-height: 30px;
   border-radius: 5px;
   width: 40px;
}
.show-menu{
    background-color: #626365;
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
}
.menu_operator:hover{
    background-color: #4b85ea;
    cursor: pointer;
}
.active{
    background-color: #4b85ea;
}

.choose-operator{
    width: 25px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose-btn {
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #6b43ff;
    border: none;
    padding: 3px;
    border-radius: 3px;
}

.result{
    color: #6b43ff;
}
.equals{
    background-color: white;
    padding: 5.5px 10px 5.5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    color: red
}
.parent {
    display: flex;
    flex-wrap: wrap;
    background-color: #dde2f8;
    width: 729px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.child{
     padding: 10px;
     color: #6b43ff;
     cursor: pointer;
}

.child:hover {
    background-color: #b1bdf3;
}