body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 80%;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
}

.task-creator {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;
  background-color: white;
}

h1 {
  font-size: 1.5rem;
}

.task-creator-settings {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.task-creator-select {
  margin-left: auto;
  border: 1px solid black;
  position: relative;
  background-color: white;
  user-select: none;
  width: 7rem;
}

.task-creator-select .current {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  align-items: center;
  background-color: white;
}

.task-creator-select .options {
  width: 7rem;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 1;
}

.disabled {
  display: none !important;
}

.button {
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  height: 100%;
  background-color: white;
}

.task-list::-webkit-scrollbar {
  display: none;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
}

.task {
  display: flex;
  border: 1px solid black;
  padding: 0.5rem;
  gap: 1rem;
  position: relative;
  background-color: white;
}

.task .task-info {
  align-self: center;
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}

.task-info .label span {
  background-color: black;
  color: white;
}

.checkbox-border {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background-color: white;
}

.checkbox {
  width: 100%;
  height: 100%;
  background-color: white;
}

.checkbox:checked {
  background-color: black;
}

.remove-node {
  margin-left: auto;
}

.remove-button {
  width: 2rem;
  height: 2rem;
}
