body {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-width: 300px;
  width: 60%;
  height: 80%;

  border: 1px solid black;
  padding: 1rem;

}

.header {
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
}

.task-creator {
  display: flex;
  gap: 2rem;
  padding: .5rem;
  width: 100%;
}

.task-creator > input {
  flex-grow: 1;
}


.task-creator .select {
  margin-left: auto;
}