@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab {
  position: relative;
}

body {
  background: #a0a0a0;
  height: 929px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather {
  width: 600px;
  height: 435px;
  border: 1px solid #000000;
  display: block;
  background: white;
}
.weather__search {
  width: 599px;
  height: 44px;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.weather__search input[type=text] {
  width: 600px;
  height: 45px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #696969;
  background-color: transparent;
  border: none;
}
.weather__search input[placeholder=Search] {
  padding-left: 16px;
}
.weather__search button[type=submit] {
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(../assets/svg/search.svg) no-repeat;
  padding: 0;
  margin: 7px 17px;
  cursor: pointer;
}
.weather .active {
  display: block;
}
.weather__block {
  min-width: 297px;
  height: 390px;
  border-right: 1px solid #000000;
}
.weather__block-temp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  color: #000000;
  padding-top: 20.5px;
  margin-left: 23px;
}
.weather__block-icon {
  max-width: 200px;
  max-height: 200px;
  margin-left: 45px;
}
.weather__block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.weather__block-content-like {
  width: 22px;
  height: 22px;
  margin-right: 26px;
  cursor: pointer;
}
.weather__block-content-city {
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.weather__now {
  display: none;
}
.weather__details {
  display: none;
  position: absolute;
  top: 0;
}
.weather__forecast {
  display: none;
  position: absolute;
  top: 0;
}
.weather__location {
  min-width: 300px;
  height: 390px;
}
.weather__location-add {
  height: 68.5px;
  border-bottom: 1px solid #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-top: 33.5px;
  padding-left: 18px;
}
.weather__location-save {
  padding-top: 35px;
  padding-left: 18px;
}
.weather__location-save .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather__location-save .list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.weather__details-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-top: 33px;
  padding-left: 18px;
}
.weather__details .list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-left: 18px;
}
.weather__details .list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.weather__forecast {
  height: 344.5px;
  overflow: auto;
}
.weather__forecast-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-top: 33px;
  padding-left: 18px;
}
.weather__forecast-block {
  margin: 7px auto 0 auto;
  width: 265px;
  height: 120px;
  border: 1px solid #000000;
}
.weather__forecast-block:last-child {
  margin-bottom: 10px;
}
.weather__forecast-block .block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 6px 12px 0 12px;
}
.weather__forecast-block .block__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px 12px 0 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.weather__forecast-block .block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px 0 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.tabs {
  width: 296px;
  height: 45px;
  border-top: 1px solid #000000;
  margin-top: 14px;
  position: relative;
}
.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 345px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}
.tabs__items .active {
  background: #000000;
  color: #ffffff;
  text-align: center;
}
.tabs__item {
  padding-top: 12px;
  width: 99px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-right: 1px solid #000000;
}

::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=style.css.map */