.content-right {
  &__title {
    border-bottom: 1px solid #000000;
    padding: 30px 0 7px 18px;
  }

  &__title p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
  }

  &__list {
    padding: 20px;
    overflow-y: auto;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__list-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
}
