.weather {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  max-height: max-content;
  margin: 0 auto;
  border: 1px solid #000000;

  &__find,
  &__find-input {
    width: 100%;
  }

  &__find-input::placeholder {
    color: #ffffff88;
  }

  &__find {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
    height: 100%;
    max-height: 40px;
    padding: 5px;
  }

  &__find-input {
    background-color: transparent;
    border-radius: 10px;
    height: 100%;
    padding: 5px 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  &__find-btn {
    width: 35px;
    height: 35px;
    background: url("../../source/isons/weatherFind.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 35px;
  }

  &__content {
    display: flex;
    height: 100%;
  }

  &__content-left {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #000000;
  }

  &__content-right {
    width: 100%;
  }
}

.preload-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #2c2a2a32;
  justify-content: center;
  align-items: center;
}


.preload {
  left: 50%;
  width: 100px;
  height: 100px;
}

.preload img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}