* {
  margin: 0;
  padding: 0;
  font-family: "Gudea", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

main {
  border-radius: 10px;
  height: 100px;
  width: 300px;
  min-height: 600px;
  min-width: 200px;
  max-width: 300px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 5);
}

header,
footer {
  width: 100%;
  height: 10%;
  background-color: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.btn-settings {
  padding-left: 20px;
}

.btn-exit {
  padding-right: 20px;
}

.chat-screen {
  overflow: scroll;
  display: flex;

  /* gap: 5px; */
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.chat-tape {
  gap: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(224, 65, 134) 0%, rgb(16, 88, 169) 100%);
  width: 100%;
  height: auto;
}
.message {
  width: 85%;
  border-radius: 10px;
  padding: 10px;
  /* margin: 25px; */
}
.user-message {
  /* margin: 25px; */
  align-self: flex-end;
  margin-right: 5px;
}
.other-name {
  font-weight: 700px;
  color: rgb(255, 255, 255);
}
.other-message {
  background-color: rgb(78, 154, 241);
  align-self: flex-start;
  margin-left: 5px;
  margin-left: 10px;
}
.time-container {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.heading,
.legend-dialog {
  color: rgb(108, 67, 244);
  font-weight: 700;
}

.legend-dialog {
  color: rgb(108, 67, 244);
}

dialog {
  font-size: 25px;
  border-radius: 10px;
  background: linear-gradient(
    rgba(236, 193, 208, 0.947) 0%,
    rgba(194, 217, 242, 0.954) 100%
  );
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-dialog {
  height: 30px;
  width: 180px;
}
.form-nickname {
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.dialog-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.icon-ok {
  font-size: 25px;
  color: rgb(108, 67, 244);
}
time {
  font-size: 10px;
}
footer {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

form {
  padding: 15px;
  width: 100%;
  border: none;
}
fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 35px;
  border: none;
}
i {
  color: white;
  font-size: 20px;
}
input {
  border-radius: 5px;
  height: 100%;
  width: 90%;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button:active {
  color: rgb(240, 9, 9);
  transform: scale(0.9);
}

.sent-message {
  background-color: rgb(216, 246, 246);
}

.delivered-message {
  background-color: rgb(12, 223, 223);
}

::-webkit-scrollbar {
  display: none;
}
