@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background: #242424;
  overflow: auto;
}

.container {
  width: 800px;
  margin: auto auto;
}

.hidden {
  display: none;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.chat-header__btn-setting {
  display: inline-block;
  width: 120px;
  height: 32px;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background: #5e55d6;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
}
.chat-header__btn-quit {
  display: inline-block;
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background: #5e55d6;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.chat-name {
  margin-bottom: 10px;
}
.chat-name__title {
  color: white;
  font-family: Roboto;
  font-size: 20px;
}
.chat-name__members {
  color: #888888;
  font-family: Roboto;
  font-size: 13px;
}
.chat-window {
  height: 782px;
  max-width: 800px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #444444;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 770px;
}
.chat-window .chat-window__message:last-child {
  margin-bottom: 12px;
}
.chat-window .chat-window__message-content {
  background: #888888;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: auto;
  min-width: 50px;
  max-width: 400px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: relative;
}
.chat-window .chat-window__message-text {
  padding: 5px 10px 0 10px;
  word-wrap: break-word;
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
}
.chat-window .chat-window__message-time {
  text-align: right;
  padding-right: 10px;
  color: #cacaca;
  font-family: Roboto;
  font-size: 12px;
}
.chat-window .chat-window__message-avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.chat-window .chat-window__message-nickname {
  color: #5e55d6;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-left: 10px;
}
.chat-window .content-right {
  border-bottom-left-radius: 16px;
  background: #5e55d6;
}
.chat-window .content-right::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: -9px;
  width: 15px;
  height: 9px;
  -webkit-clip-path: url(#right-droplet);
          clip-path: url(#right-droplet);
  background-color: inherit;
}
.chat-window .content-left {
  border-bottom-right-radius: 16px;
  background: #242424;
}
.chat-window .content-left::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -9px;
  width: 16px;
  height: 9px;
  -webkit-clip-path: url(#left-droplet);
          clip-path: url(#left-droplet);
  background-color: inherit;
  z-index: 1;
}
.chat-window .message-right {
  margin: 5px 5px 5px 0;
  margin-left: auto;
  position: relative;
}
.chat-window .message-left {
  margin: 5px 0;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.chat-message {
  width: 800px;
  position: relative;
  background: #444444;
  height: 50px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.chat-message__input {
  margin-left: 20px;
  width: 760px;
  background: #222222;
  border: none;
  border-radius: 16px;
  height: 40px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.chat-message__btn {
  border: none;
  background: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 26px;
  cursor: pointer;
}
.chat-message__btn-svg {
  fill: rgb(94, 85, 214);
  height: 20px;
  width: 30px;
}

.settings {
  background: #242424;
  border: none;
  border-radius: 16px;
  outline: none;
  height: 400px;
  width: 300px;
}
.settings__title {
  color: #777777;
  font-family: Roboto;
  font-size: 36px;
  margin-bottom: 20px;
}
.settings__subtitle {
  color: #777777;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 5px;
}
.settings-input {
  background: #555555;
  border: none;
  border-radius: 16px;
  height: 36px;
  width: 230px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.settings-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  outline: none;
}
.settings-btn-svg {
  position: absolute;
  top: -16px;
  height: 22px;
}
.settings-btn-close {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.settings::-webkit-backdrop {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.settings::backdrop {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.authorization {
  background: #242424;
  border: none;
  border-radius: 16px;
  outline: none;
  height: 400px;
  width: 320px;
}
.authorization-title {
  color: #777777;
  font-family: Roboto;
  font-size: 36px;
  margin-bottom: 60px;
  text-align: center;
}
.authorization-subtitle {
  color: #777777;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 5px;
}
.authorization-input {
  background: #555555;
  border: none;
  border-radius: 16px;
  height: 36px;
  width: 286px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
  display: block;
}
.authorization-error {
  color: #ff8d8d;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 5px;
}
.authorization-complete {
  color: #5e55d6;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 5px;
}
.authorization-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  outline: none;
  background: #5e55d6;
  border-radius: 16px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  height: 30px;
  margin-top: 20px;
  width: 140px;
}
.authorization::-webkit-backdrop {
  background: #242424;
}
.authorization::backdrop {
  background: #242424;
}

.verification {
  background: #242424;
  border: none;
  border-radius: 16px;
  outline: none;
  height: 400px;
  width: 320px;
}
.verification-title {
  text-align: center;
  color: #777777;
  font-family: Roboto;
  font-size: 36px;
  margin-bottom: 60px;
}
.verification-subtitle {
  color: #777777;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 5px;
}
.verification-input {
  background: #555555;
  border: none;
  border-radius: 16px;
  height: 36px;
  width: 286px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.verification-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  outline: none;
  background: #5e55d6;
  border-radius: 16px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  height: 30px;
  margin-top: 20px;
  width: 140px;
}
.verification-error {
  color: #ff8d8d;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 5px;
}
.verification::-webkit-backdrop {
  background: #242424;
}
.verification::backdrop {
  background: #242424;
}

.chat-window::-webkit-scrollbar {
  background-color: #444444;
  width: 16px;
  border-radius: 16px;
}

.chat-window::-webkit-scrollbar-track {
  background-color: #444444;
  border-top-right-radius: 16px;
}

.chat-window::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #444444;
}

.chat-window:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border: 5px solid #444444;
}/*# sourceMappingURL=style.css.map */