@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background: #242424;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.chat-header__btn-setting {
  display: inline-block;
  width: 200px;
  height: 32px;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background: #5e55d6;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.chat-header__btn-quit {
  display: inline-block;
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background: #5e55d6;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.chat-window {
  height: 700px;
  border-radius: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}
.chat-window__right {
  margin: 5px 10px 5px 0;
  margin-left: auto;
}
.chat-window__right-message {
  background: #888888;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  position: relative;
  height: auto;
  width: 400px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.chat-window__right-message::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: -9px;
  width: 15px;
  height: 10px;
  -webkit-clip-path: url(#right-droplet);
          clip-path: url(#right-droplet);
  background-color: inherit;
}
.chat-window__right-message-text {
  padding: 10px 10px 0 10px;
  word-wrap: break-word;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}
.chat-window__right-message-time {
  text-align: right;
  padding-right: 10px;
  color: #242424;
  font-family: Roboto;
  font-size: 12px;
}
.chat-window__right-avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.chat-window__left {
  margin: 5px 0;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.chat-window__left-message {
  background: #888888;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
  height: auto;
  width: 400px;
  margin-left: 5px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.chat-window__left-message::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -9px;
  width: 16px;
  height: 10px;
  -webkit-clip-path: url(#left-droplet);
          clip-path: url(#left-droplet);
  background-color: inherit;
  z-index: 1;
}
.chat-window__left-message-text {
  padding: 0 10px 0 10px;
  word-wrap: break-word;
  font-family: Roboto;
  font-size: 12px;
  color: #FFFFFF;
}
.chat-window__left-message-time {
  text-align: right;
  padding-right: 10px;
  color: #242424;
  font-family: Roboto;
  font-size: 12px;
}
.chat-window__left-message-nickname {
  color: #5e55d6;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-left: 10px;
}
.chat-window__left-avatar {
  margin-left: 5px;
}
.chat-window__left-avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.chat-message {
  width: 800px;
  position: relative;
  margin-top: 40px;
}
.chat-message__input {
  width: 800px;
  background: #555555;
  border: none;
  border-radius: 16px;
  height: 40px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.chat-message__btn {
  border: none;
  background: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.chat-message__btn-svg {
  fill: rgb(94, 85, 214);
  height: 20px;
  width: 30px;
}

.dialog {
  background: #242424;
  border: none;
  border-radius: 16px;
  outline: none;
  height: 400px;
  width: 300px;
}
.dialog__title {
  color: #777777;
  font-family: Roboto;
  font-size: 36px;
  margin-bottom: 20px;
}
.dialog__subtitle {
  color: #777777;
  font-family: Roboto;
  font-size: 16px;
  margin-bottom: 5px;
}
.dialog-input {
  background: #555555;
  border: none;
  border-radius: 16px;
  height: 36px;
  width: 230px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.dialog-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  outline: none;
}
.dialog-btn-svg {
  position: absolute;
  top: -16px;
  height: 22px;
}
.dialog-btn-close {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.chat-window::-webkit-scrollbar {
  background-color: #242424;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.chat-window::-webkit-scrollbar-track {
  background-color: #242424;
}

.chat-window::-webkit-scrollbar-track:hover {
  background-color: #242424;
}

/* scrollbar itself */
.chat-window::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #242424;
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 5px solid #242424;
}

/* set button(top and bottom of the scrollbar) */
.chat-window::-webkit-scrollbar-button {
  display: none;
}/*# sourceMappingURL=style.css.map */