* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #656565;
}

h2 {
    font-size: 18px;
}

.section {
    width: 600px;
    height: 435px;
    background-color: #ffffff;
    position: absolute;
    margin: 100px 400px;
    border-radius: 10px;


}

.wrapper {
    display: grid;
    width: 600px;
    height: 435px;
    border: 2px solid #292929;
    position: relative;
    border-radius: 10px;
    /* margin: 13px auto; */

}


.header {
    width: 597px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #292929;
}

.header-input {
    width: 598px;
    height: 43px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 18px;
}

.search-img {
    background-color: #ffffff;
}

.search-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}



/* CONTENT */

.area {
    display: flex;
    justify-content: space-between;
}

.content-area {
    width: 299px;
    height: 388px;
    border-right: 2px solid #292929;

}




/* NOW */

.content-area_display {
    width: 299px;
    height: 342px;
    display: none;
}

.now-btn-shape {
    background-color: #ffffff;
    cursor: pointer;
}
.now-btn-shape-img {
    background-color: #ffffff;
}
.temperature {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 70px;
    color: #1a1a1a;
}

.mask {
    position: relative;
    bottom: 35px;
    right: 10px;
}


.weather-icon {
    display: flex;
    height: 187px;
    justify-content: center;
    align-items: center;
}

.location-target {
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #1a1a1a;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;

}


/* DETAILS */

.details-city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    padding-top: 30px;
    padding-left: 15px;
}


.list {
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.8;
    color: #000000;
    padding-top: 30px;
    padding-left: 15px;
}




/* FORECAST */

.forecast-days {
    width: 265px;
    height: 120px;
    border: 1.5px solid #1a1a1a;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    padding: 5px 10px;
}

.forecast-days__date {
    display: flex;
    justify-content: space-between;
}

.forecast-days__temp {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.forecast-days__feels {
    display: flex;
    justify-content: space-between;
}









/* кнопки переключения */
.tabs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 2px solid #292929;


}


.tabs_item {
    display: flex;
    width: 99px;
    height: 44px;
    border-right: 2px solid #292929;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #1a1a1a;
}

.tabs_item:last-child {
    border-right: none;
}

/* локейшн  */

.location-area_added-location {
    width: 299px;
    height: 68px;
    border-bottom: 2px solid #292929;
}

.added-location {
    position: relative;
    top: 33px;
    left: 18px;
    font-size: 24px;
    color: #1a1a1a;
}


.locations {
    line-height: 40px;
    font-size: 24px;
    margin: 20px 0 20px 18px;
    color: #1a1a1a;
    list-style-type: none;
}

.active-tab {
    background-color: #1a1a1a;
    color: #ffffff;

}
.active-tab:first-child {
    border-radius: 0 0 0 10px;
}






/* ТРЕТИЙ ЭКРАН */





.active {
    display: block;
}

.new-element {
    
    cursor: pointer;
}




.locations-close-btn {
    width: 15px;
    height: 15px;
    position: relative;
    left: 5px;  
    background-color: #ffffff;
    cursor: pointer;
    
}





