body {
    width: 100%;
    height: 700px;
    background: #9bb7bb;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    margin: 50px auto;
    width: 850px;
    height: 650px;
    border-radius: 20px;
    background: #0b0b25;
}



/* HEADER */

.header {
    display: flex;
    width: 850px;
    height: 50px;
    background: #000000;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.header__btn-settings {
    width: 28px;
    height: 28px;
}

.header__btn-in {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
}

/* DISPLAY */

.display {
    width: 840px;
    height: 530px;
    /* background: #ffffff; */
    background: linear-gradient(-45deg, #effd52, #fa6c8d);
    margin: 0 auto;
    color: #000000;
    padding: 5px;
    overflow-y: auto;
}

/* MESSAGE */

.display-items__message {
    width: 220px;
    max-height: auto;
    background: #ffffff;
    border-radius: 0 10px 10px 10px;
    padding: 8px;
    margin-top: 10px;
    font-size: 14px;
    word-wrap: break-word;
}

.me {
    width: 220px;
    max-height: auto;
    background: #ffffff;
    border-radius: 10px 0 10px 10px;
    padding: 8px; 
    margin-left: auto;
    margin-top: 10px;
    word-wrap: break-word;
}

.message-nickname {
    margin-bottom: 5px;
    font-size: 13px;
    font-style: italic;
}

.message-date {
    position: relative;
    left: 170px;
    font-size: 12px;
    color: #7a7a7a;
    user-select: none;
    font-style: italic;
}

/* INPUT */

.form {
    display: flex;
    width: 850px;
    height: 70px;
    background: #000000;
    border-radius: 0 0 20px 20px;
    justify-content: space-around;
    align-items: center;
}

.form__input {
    width: 760px;
    height: 35px;
    border-radius: 5px;
    background: #ffffff;
    padding-left: 8px;
}

.form__button-send {
    width: 40px;
    height: 35px;
    border-radius: 5px;
    background: #99d8db;
}


/* POPUP */

.popup {
    position: absolute;
    top: 200px;
    left: 570px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: #000000;
    color: #ffffff;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.popup-logic {
    padding: 15px;
}

.item-input {
    width: 220px;
    height: 30px;
    background: #ffffff;
    margin: 10px 0;
    color: #000000;
    padding-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
}

.item-btn {
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
}


/* authorization */

.authorization {
    position: absolute;
    top: 200px;
    left: 570px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: #000000;
    color: #ffffff;
}

.authorization-input {
    width: 270px;
    height: 30px;
    background: #ffffff;
    margin: 10px 0;
    color: #000000;
    padding-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
}

.authorization-btn {
    width: 133px;
    height: 30px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.authorization-btn-code {
    position: relative;
    bottom: 30px;
    left: 138px;
    width: 133px;
    height: 30px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.info-message {
    position: relative;
    left: 15px;
    font-size: 18px;
}



/* authentication */

.authentication {
    position: absolute;
    top: 200px;
    left: 570px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: #000000;
    color: #ffffff;
}

.authentication-input {
    width: 270px;
    height: 30px;
    background: #ffffff;
    margin: 10px 0;
    color: #000000;
    padding-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
}

.authentication-btn {
    width: 80px;
    height: 30px;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.504);
    backdrop-filter: blur(5px);
}

.form-another {
    position: absolute;
    right: 100px;
}

.form__input-another {
    width: 260px;
    height: 35px;
    border-radius: 5px;
    background: #ffffff;
    padding-left: 8px;
}

.form__button-send-another {
    width: 40px;
    height: 35px;
    border-radius: 5px;
    background: #7575f8;
}


@media (max-width: 770px) {
   .wrapper {
    width: 770px;
   }

   .header {
    width: 770px;
   }

   .display {
    width: 770px;
   }

   .form {
    width: 770px;
   }
}


@media (max-width: 400px) {
    .wrapper {
     width: 390px;
     height: 844px;
    }
 
    .header {
     width: 390px;
     height: 50px;
    }
 
    .display {
     width: 390px;
     height: 720px;
    }
 
    .form {
     width: 390px;
     height: 50px;
    }
 }