
.answer {
  height: 100px; 
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.container {
  margin-left: 50px;
}

.eq {
  padding-left: 10px;
  padding-right: 10px;
}

input, select, .eq{
  border: 1px solid #ababab;
}