.container {
  width: 50%;
  margin: 20px auto 0;
}

h2 {
  text-align: center;
  font-weight: 700;
}

.input {
  border: 1px #989898 solid;
  margin: 0 auto;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}


.task {
  display: flex;
  justify-content: space-around;
  border: 1px #989898 solid;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 12px 5px;
}

.task label {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.task p {
  width: 80%;
}

.done-task {
  background: #e5e5e5;
}

.input-task-high, .input-task-low {
  max-width: 600px;
  min-width: 300px;
}