* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    border: 1px solid black;
    text-align: center;
    width: 300px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.message_content {
    border: 1px solid black;
    width: 290px;
    height: 400px;
    margin-left: 5px;
}

.bottom_content {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.input_message {
    width: 260px;
    height: 30px;
}

.sendMessage {
    width: 20px;
}

.modal_settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal_autorisation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_confirmation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_settings[open] {
    background-color: white;
    overflow: hidden;
    border: none;
}

.modal_autorisation[open]{
    background-color: white;
    overflow: hidden;
    border: none;
}
.modal_confirmation[open]{
    background-color: white;
    overflow: hidden;
    border: none;
}
.pochta{
    margin-top: 30px;
    margin-left: 20px;
}

.modal_content_header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.close_settings {
    font-size: xx-large;
    cursor: pointer;
}
.close_autorisation {
    font-size: xx-large;
    cursor: pointer;
}

.close_confirmation{
    font-size: xx-large;
    cursor: pointer;
}

.modal_content_main {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.modal_container p {
    margin-left: 10px;
}

.modal_input {
    height: 25px;
    width: 200px;
    margin-right: 10px;
}

.message_my {
    display: inline-flex;
    flex-direction: column;
    margin-left: 40%;
}

.message_content{
}


.message {
    border: 1px solid;
    flex-grow: 1;
    margin: 4px;
    display: inline-flex !important;
    justify-content:space-between;
    background-color: aliceblue;
    list-style-type: none;
}

.message_text {
    padding: 5px;
    font-size: large;
}

.message_time {
    font-size: small;
    margin-top: 0;
    align-self: flex-end;
}

.message_you {
    display: inline-flex;
    flex-direction: column;
    margin-right: 20%;
}