{
    "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true
    },
    "rules": {
      "prettier/prettier": ["error",{
        "endOfLine": "auto"}
      ],
      "no-unused-vars": "warn",
      "no-console": "off",
      "func-names": "off",
      "no-process-exit": "off",
      "object-shorthand": "off",
      "class-methods-use-this": "off",
      "max-classes-per-file": ["error", 10],
      "import/prefer-default-export": "off",
      "prefer-const": "warn",
      "no-use-before-define": "warn",
      "no-alert": "warn",
      "no-undef": ["error", { "typeof": false }]
    }
  }